<div class="mat-form">
  <form #myForm="ngForm" (ngSubmit)="submitForm()" class="custom-form">
    <div class="form-header">
      <h2>Submit Your Information</h2>
    </div>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter your name"
        name="name"
        [(ngModel)]="formData.name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter your email"
        name="email"
        [(ngModel)]="formData.email"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>

    <div *ngIf="isSubmitted">
      <p>Name: {{ formData.name }}</p>
      <p>Email: {{ formData.email }}</p>
    </div>
  </form>
</div>

<app-quote [quotes]="quotesFromApi"></app-quote>
